<main class="container">
  <section>
    <div class="m-2">
      <h1 class="text-center">{{ playlist?.title }}</h1>
      <img src="assets/images/{{ playlist?.image }}.png" alt="{{ playlist?.image }}" class="img-thumbnail" />
      <p class="description m-2 ">{{playlist?.description}}</p>
    </div>
  </section>
  <section>
    <ag-grid-angular style="width: 100%; height: 500px" class="ag-theme-alpine" [rowData]="songsInPl$ | async"
      [columnDefs]="columnDefs" [frameworkComponents]="frameworkComponents">
    </ag-grid-angular>
  </section>

  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Launch demo modal
  </button>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="form" (ngSubmit)="submitForm()">
            <div class="form-group input-group-lg">
              <select formControlName="song">
                <ng-container *ngFor="let song of songs$ | async">
                  <option [value]="song.id">
                    {{ song.title }} - {{ song.artist }}
                  </option>
                </ng-container>
              </select>
            </div>
            <div class="modal-footer form-group">
              <button class="btn btn-primary">Add song</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
